<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rubbishrecog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="垃圾分类"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <activity android:name=".takephoto3"></activity>
        <activity android:name=".ShowResult"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>